<!-- Start using april tag -->
<launch>
    <include file = "$(find apriltag_ros)/launch/continuous_detection.launch" >
    </include>

    <node name="tag_detection" pkg="tower" type="tag_detection" output='screen'/>
    <node name="enable_left_cam" pkg="tower" type="enable_left_cam" output='screen'/>
    <node name="enable_head_cam" pkg="tower" type="enable_head_cam" output='screen'/>
</launch>
